*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow: hidden;
}
.navigationbar-menu{
    height:85px;
    background-color: rgb(43,58,65);
}
.navigationbar-menu i{
 font-size: 50px;
 color:white;
 margin: 20px 20px;
}
.navigationbar-menu p{
    font-size: 25px;
}
.main-container{
    background-color: rgb(202,210,197);
    height: 88vh;
}
.main-container .box1{
    height:400px;
    background-color: rgb(53,53,53);
    width:260px;
    border-radius: 20px;
}
.search-box{
    margin: 50px 0;
    width:40%;
}
.search{
    width:600px;
    height:40px;
    background-color: rgb(53,53,53);
    margin: 0 auto;
    display: block;
    border-radius: 6px;
}
.cards{
    height:200px;
    display: flex;
    justify-content: space-around;
}
.cards .card{
    width:20%;
    height:100px;
    background-color: rgb(53,53,53);
    border-radius: 12px;
}
.footer{
    height:100px;
    background-color: rgb(53,53,53);
    border-radius: 10px;
    width: 90%;
    margin: 12px auto;
}